<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title>Dashboard</title>
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="dashboard.css">
	</head>
	<body>
		<div class="header">
			<nav class="navbar">
				<h1 class="name">CORDIALLY</h1>
			    <ul class="list-pages">
					<li ><a href="#">FEATURES</a></li>
				    <li ><a href="#">PRICING</a></li>
			    </ul>
			</nav>
		</div>
		<div class="userInfo">
			<div class="left">
				<h2 class="dashboard">DASHBOARD</h2>
				<h3 class="welcome">WELCOME LUCAS</h3>
				<div  class="photoDiv">
					<img class="img-circle img-center photo" src="Assets/test.jpg">
				</div>
				<h4 class="availability">UPDATE AVAILABILITY</h4>
				<div class="statusDiv">
					<h5 class="status">AVAILABLE</h5>
					<h5 class="status">UNAVAILABLE</h5>
				</div>
				
			</div>
				<div class="right">
					<h4 class="meetings">MEETINGS</h4>
					<div class="timeButtons">
						<div class="col-md-3">
							<button class="timeButton" id="custom">CUSTOM</button>
							 <label class="switch">
							 	<input type="checkbox">
							 	<div class="slider round" id="switch1"></div>
							</label>
						</div>
						<div class="col-md-3">
							<button class="timeButton" id="min15">15 MINUTES</button>
							<label class="switch" id="switch2">
							    <input type="checkbox">
								<div class="slider round" id="switch2"></div>
							</label>
						</div>
						<div class="col-md-3">
							<button class="timeButton" id="min30">30 MINUTES</button>
							<label class="switch" id="switch3">
						 		<input type="checkbox">
						  		<div class="slider round" id="switch3"></div>
							</label>
						</div>
						<div class="col-md-3">
							<button class="timeButton" id="min60">60 MINUTES</button>
							<label class="switch" id="switch4">
						 		<input type="checkbox">
						 		<div class="slider round" id="switch4"></div>
							</label>
						</div>
					</div>
			</div>
			
			</div>
		</div>
		<div ng-controller="ctrl">
				<div class="calendar">
					<div class="month"> 
					    <button class="prev" ng-click="previousYear()">&#10094;</button>
					    <button class="next" ng-click="nextYear()">&#10095;</button>
					    <h6 class="date">{{months[currentMonth-1]}}, {{currentYear}}</h6>
					    <div class="months">
					    	<div ><button class="monthButton" ng-click="setMonth(1)">JANUARY</button></div>
							<div ><button class="monthButton" ng-click="setMonth(2)">FEBRUARY</button></div>
							<div ><button class="monthButton" ng-click="setMonth(3)">MARCH</button></div>
							<div ><button class="monthButton" ng-click="setMonth(4)">APRIL</button></div>
							<div ><button class="monthButton" ng-click="setMonth(5)">MAY</button></div>
							<div ><button class="monthButton" ng-click="setMonth(6)">JUNE</button></div>
							<div ><button class="monthButton" ng-click="setMonth(7)">JULY</button></div>
							<div ><button class="monthButton" ng-click="setMonth(8)">AUGUST</button></div>
							<div ><button class="monthButton" ng-click="setMonth(9)">SEPEMBER</button></div>
							<div ><button class="monthButton" ng-click="setMonth(10)">OCTOBER</button></div>
							<div ><button class="monthButton" ng-click="setMonth(11)">NOVEMBER</button></div>
							<div ><button class="monthButton" ng-click="setMonth(12)">DECEMBER</button></div>
					    </div>
					</div>

					<ul class="weekdays">
					  <li>SUNDAY</li>
					  <li>MONDAY</li>
					  <li>TUESDAY</li>
					  <li>WEDNESDAY</li>
					  <li>THURSDAY</li>
					  <li>FRIDAY</li>
					  <li>SATURDAY</li>
					</ul>

					<ul class="days"> 
						<div ng-repeat="a in range(extraDays) track by $index"><li><button class="day"></button></li></div>
						<div ng-repeat="a in range(numDays) track by $index"><li>{{$index + 1}}<button class="day"></button></li></div>
					</ul>
				</div>
		<script src="calendar.js"></script>
	</body>
</html>